<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Covids' World</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/ea1d1545-7509-4807-9ba3-ead04c193f80%2Fyakko-w_favicon.ico?v=1586377124607"
      type="image/x-icon"
    />

    <!-- stylesheet -->
    <link rel="stylesheet" href="./style.css" />

    <!-- script -->
    <script src="./script.js" defer></script>
  </head>
  <body>
    <section class="container">
      <div class="video-wrap js-video-wrap">
        <div class="video-inner">
          <current>
              <element id="country" title="current country">
                <i class="fas fa-flag"></i>
                <live></live>
              </element>
              <element id="count" title="infected count for the country">
                <live></live>
                <i class="fas fa-virus"></i>
              </element>
          </current>

          <video class="video-player js-video" preload="auto" loop playsinline>
            <source
              src="https://cdn.glitch.com/ea1d1545-7509-4807-9ba3-ead04c193f80%2Fyakkos_world.mp4?v=1586703988122"
              type="video/mp4"
            />
            <p>Sorry, but your browser does not support this video format.</p>
          </video>

          <button class="action action--close js-close-video" title="close">
            <i class="fa fa-times"></i>
          </button>

          <button class="action action--pp js-pp-video" title="pause">
            <i class="fa fa-play"></i>
            <i class="fa fa-pause"></i>
          </button>

          <static></static>

          <input
            id="proc"
            type="range"
            min="0"
            max="100"
            step="0.1"
            value="0"
            oninput="V.updateTime(this.value)"
            class="slider"
            title="drag me yo"
          />

          <div class="dropdown-container">
            <input type="checkbox" id="drop" />

            <label for="drop" title="change the playback speed">speed</label>

            <ul class="content" title="select one lol (default is 90%)">
              <li data-val="0.4">40%</li>
              <li data-val="0.5">50%</li>
              <li data-val="0.6">60%</li>
              <li data-val="0.7">70%</li>
              <li data-val="0.8">80%</li>
              <li data-val="0.9">90%</li>
              <li data-val="1">100%</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="loader">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <button
          class="action action--hidden action--play js-play-video"
          title="start the show"
        >
          <i class="fa fa-play"></i>
          <span class="action__label">GO, YAKKO!</span>
        </button>
      </div>
    </section>
  </body>
</html>
